Options FollowSymLinks
RewriteEngine On
RewriteBase /ERP/

RewriteRule ^$ public/ [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L,QSA]
